body {
    margin: 0;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    background-image: url(./YE6OJA.gif);
    background-size: 99px;
  }
  
  .container {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 50px;
  }
  
  h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0062cc;
  }
  
  #result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  .back-key {
    width: 121px;
    height: 25px;
    border: solid white 1px;
    color: white;
    padding: 10px;
    position: absolute;
    top: 86vh;
    left: 44vw;
    background-color: #67676766;
    font-family: "Protest Guerrilla", sans-serif;
    font-style: normal;
    text-align: center;
    border-radius:28px ;
}

.back-key:active{

    background-color: white;
    color: black;

}

#icon{
    position: absolute;
    top: 9px;
    left: 4px;
    font-size: 25px;
}


h4{
    position: absolute;
    top: -13px;
    right: 6px;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}
